body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
}
.section-blue {
  background-color: rgb(36 123 160);
  font-family: Helvetica;
  color: white;
  margin: 20px 0;
  width: 100%;
}

.section-white {
  color: rgb(36 123 160);
  font-family: Helvetica;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.background1 {
  background-image: url("./Assets/baalbak-lebanon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 500px;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: large;
}

.top-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
}

.bg1-div {
  width: 100%;
}

.bg1-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
}

.bg1-list-items {
  margin: 0 20px 0px 20px;
}

.text-large-lh34 {
  font-size: large;
  line-height: 34px;
}

.text-center {
  text-align: center;
}

.center-block {
  padding: 0 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-none {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.list-horizontal {
  display: inline-block;
  width: 33%;
}

.image-shadow {
  box-shadow: rgb(237, 235, 235) 0px 0px 5px 1px;
  margin: 0 20px 0 20px;
}

.image-shadow:hover {
  position: relative;
  top: -0.2em;
  box-shadow: rgb(237, 235, 235) 0px 0px 30px 1px;
}

.author-name {
  text-align: right;
  font-size: smaller;
  font-weight: bold;
}

.form-border-curved {
  border: 0.5px solid gainsboro;
  border-radius: 30px;
  height: 100%;
  text-align: left;
}

.form-fields {
  padding: 0 30px;
  margin-bottom: 0;
  border: none;
  border-bottom: 0.5px solid gainsboro;
  outline: none;
  width: 100%;
  height: 40px;
}

.form-labels {
  padding-left: 30px;
  padding-top: 20px;
}

.no-textarea-border {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 15px 0 30px;
}

.form-submit-button {
  color: #247ba0;
  float: right;
  margin: 0 10px 10px 0;
  background: none;
  border: none;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.button-div {
  height: 50px;
}

.bottom-links {
  list-style-type: none;
  text-align: center;
  margin: 10px;
}

.inline-link-items {
  display: inline-block;
  padding: 0 10px 0 10px;
  height: 20px;
  color: #70c1b3;
  font-size: smaller;
}

#subEmail {
  width: 80%;
}
#subLabel {
  padding: 8px;
  margin: 0;
  font-weight: bold;
}

#background2 {
  background-image: url("./Assets/ankor-wat-siem-reap-cambodia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 500px;
}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.3em;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .list-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
